
body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

/* NAVBAR */
.navbar1{
    background-color: transparent;
    position: fixed;
    z-index: 10;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
  .navbar1_content{
    max-width: 1250px;
    margin: auto;
    padding: 0px 30px;
  }
  .navbar1 .navbar1_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar1 .navbar1_menu{
    display: inline-flex;
  }
  .navbar1_menu li{
    list-style: none;
  }
  .navbar1_menu li a{
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
    font-weight: normal;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    font-family: "Open Sans", sans-serif;
  }
  .navbar1_menu li a:hover{
    color: rgb(255, 136, 0);
    cursor: pointer;
  }
  .navbar1.sticky{
    background-color: #FFFFFF;
    padding: 10px 0;
    opacity: 0.9;
  }

/* NAVBAR LOGO */
    .navbar1_logo img{
      padding: 0 !important;
      margin: 0 !important;
      width: 50px;
      height: 60px;
    }
/* ICON NAVBAR*/
  .icon1{
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .icon1.cancel_btn{
    position: absolute;
    right: 30px;
    top: 20px
  }

  .banner_principal img{
    width: 100%;
    height: 100vh;
  }

/* BANNER - SLIDER */
/*SLIDER*/
/* PRIMER CARROUSEL */
.container-slider11{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.slider11{
/*Alto de imgs*/
  display: flex;
  /* height: 700px; */
  width: 300%;
/* margin-left: -100%; */
}
.slider__section11{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: changeimage 15s linear;
}

  @keyframes changeimage{
    /* 0% {opacity: 0.0}
    4% {opacity: 1.0}
    33.33% {opacity: 1.0}
    37.33% {opacity: 0.0}
    100% {opacity: 0.0} */

}

.slider__img11{
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;

}
.slider__btn11{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.slider__btn11:hover{
  background: #fff;
}
.slider__btn11--right{
  right: 10px;
}
.slider__btn11--left{
  left: 10px;
}

/* GO TOP BUTTON */
  .to-top{
    background: orange;
    position: fixed;
    bottom: 16px;
    right: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .15s;
    z-index: 10;
  }
  .to-top i{
    margin-left: 10.5px;  /* CENTRAR */
  }

  .to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }

/* BANNER FOOT */
  .gray_foot{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(226, 224, 224, 0.904); */
    background-color: #FFF;
    position: relative;
    display: flex;
  }


  .gif1{
    width: 50%;
    height: 100%;
    position: relative;
    align-items: center;
  }
  .gif2{
    width: 50%;
    height: 100%;
    align-items: center;
    position: relative;
  }

  .gif1 img{
    padding-top: 10px;
    height: 200px;
    width: 200px;
    position: absolute;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .gif2 img{
    padding-top: 50px;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  } 

  /* Las olas y el viento sucundum sucundum */
  .waves_orange{
    padding: 0;
    margin-top: 0;
    position: relative;
    z-index: 2 !important;
  }
  .wave1{
    padding: 0;
    position: absolute;
    opacity: 0.5;
    z-index: 4 !important;
    margin-top: 5px;
  }
  .wave2{
    padding: 0;
    position: absolute;
    z-index: 3;
    margin-top: 15px;
  }
  .wave3{
    padding: 0;
    opacity: 0.7; 
    margin-top: -5%;
    z-index: 2 !important;
  }
  
  /* .wave1 img{
    padding-top: 0;
    opacity: 0.8;
    position: relative;
    margin-top: 50px;
  }
  .wave2 img{
    margin-top: -320px; 
    opacity: 0.9;
    position: relative;
  }
  .wave3 img{
    padding-top: 0;
    /* margin-top: -600px; 
    opacity: 0.4;
    position: relative;
  } */

  /* .container_logos{
    display: flex;
    justify-content: center;
  }

  .container_logos img{
    height: 100px;
  }

  .texto_logos p{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 120%;
  } */

  /* US SECTION */
  .container_orange{
    height: 430px;
    background-color: blue;
    background-color:  rgb(255, 136, 0) !important; 
    margin-top: -40px;
    z-index: 99 !important;
    opacity: 1;
  }

  /* */
  .nosotros_container{
    height: 600px;
    background-color: #FFF;
    margin-top: -50px;
    display: flex;
  }

  .container_orange_ani{
    color: #FFF;
    font-size: 1.5em;
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;
  }

  .about_us_p1{
    color: #FFF;
    text-align: justify;
    font-family: "Open sans", sans-serif;
    padding-left: 400px;
    padding-right: 400px;
    /* margin-top: -20px; */
    margin-bottom: 0;
    padding-top: -4%;
  }

  .nosotros_subcontainer{
    height: 100%;
    width: 60%;
    background-color: rgb(255, 136, 0);
    /* border-radius: 0 1% 0 0; */
    opacity: 90%;
    font-family: "Merriweather";
  }

  .nosotros_subcontainer2{
    height: 100%;
    width: 40%;
    background-color: #FFF;
    /*
    background-image: radial-gradient(ellipse farthest-corner at 10px 500px , rgb(255, 136, 0) 25%, rgba(0, 255, 0, 0) 0%, #FFF 70%);;
     background-image: url("img/img_back_frutos_taza.jpg");
    justify-items: right;
    background-size: cover;
    background-attachment: fixed;
    background-position: auto auto;
    background-repeat: no-repeat; 
    opacity: 0.5;*/
  }
  .nosotros_subcontainer2 img{
    transform: rotate(90deg);
    position: relative;
    width: 60%;
    margin-left: 30%;
    padding: 0;  
  }

  .nosotros_subcontainer h1{
    padding: 3% 10% 0 0;
    font-size: 38px;
    font-weight:100;
    text-align: right;
    line-height: 150%;
    position: relative;
    color: #000;
  }

  .rectangulo_blanco{
    position: relative;
    height: 50%;
    width: 87%;
    border: 4px solid;
    border-color: #FFF;
    margin-top: 0px;
    margin-left: 8%;
  }

  .rectangulo_blanco p{
    padding: 2% 2% 2% 3.5%;
    text-align: right;
    position: absolute;
  }

  .container_redes{
    position: relative;
    height: 17%;
    width: 5%;
    background-color: #FFF;
    color: #FFF;
    margin-top: -28.3%;
    margin-left: 8.7%;
    border-radius: 8% 0 0 8%;
  }

  .container_redes:hover{
    cursor: pointer;
    background-color: rgb(253, 244, 236);
  }

  .container_redes p{
    position: relative;
    text-align: center;
    color: #000;
  }

  /* DELIVERY SECTION */
  .container_envios{
    margin: 0px;
    padding: 0px;
    height: 600px;
    background-image: url(./img/pexels-gdtography-950241.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    /*position: relative;*/
  }

  .item1{
    width: 20%;
  }

  .item2{
    width: 60%;
  }
  .item2 img{
    padding-left: 15%;
    height: 100%;
    width: 75%;
  }

  .item3{
    width: 20%;
  }
  .item3 p{
    font-size: 2em;
    font-weight: 300;
    writing-mode: vertical-lr;
    margin-top: 55%;
    margin-left: 0px;
  }



  /* .envios_section{
    margin: 0;
    padding: 0;
    height: 600px;
    background-image: url(./img/pexels-gdtography-950241.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
  } */

  .item_envios{
    /* display: flex;
    flex-direction: space-around; */
    position: relative;
    height: 100%;
    padding: 2rem;
    /* margin: 0;
    padding: 0;
    height: 600px;
    background-image: url(./img/pexels-gdtography-950241.jpg);
    background-attachment: fixed;
    background-size: cover; */
    /* justify-content: space-between; */
  }

  /*
  .container_envios{
    position: absolute;
    top: 50%;
    left: 30%;
    height: 30%;
    width: 50%;
    margin: 0 0 0 -25%;
     height: 100%;
    width: 40%;
    position: relative; 
  }
*/
  .item1 ul{
     /* position: absolute; 
    transform: translate(0, -50%); */
    padding: 0px;
    margin: 10%;
  }
  
  .item1 ul li{
    list-style-type: none;
    font-size: 2em;
    padding-top: 60px;
    padding-left: 10%;
    /* padding: 40px 0 0 40px; */
  }

  /* DAYS & HOVERS */
  .lunes_envios{
    cursor: pointer;
  }
  .lunes_envios:hover{
    color: #fca55e;
    text-decoration: overline;
  }
  .martes_envios{
    cursor: pointer;
  }
  .martes_envios:hover{
    color: #fca55e;
  }
  .miercoles_envios{
    cursor: pointer;
  }
  .miercoles_envios:hover{
    color: #fca55e;
  }
  .jueves_envios{
    cursor: pointer;
  }
  .jueves_envios:hover{
    color: #fca55e;
  }
  .viernes_envios{
    cursor: pointer;
  }
  .viernes_envios:hover{
    color: #fca55e;
    text-decoration: underline;
  }

  /* .txt_img_envios p{
    transform: rotate(270deg);
    margin-left: -255%;
    margin-top: -30%;
    font-size: 35px;
    font-family: "Open sans";
  } */

  /*
  .txt_img_envios{
    /* display: flex;
    flex-direction: space-between;
    height: 100%;
    width: 70%; 
  }*/

  /* .mapa_envios{
  } */

  .item_envios_img{
    max-height: 100%;
    max-width: 100%;
    margin-left: 70%;
  }

  .pin_lunes{
    display: none;
  }
  .lunes_envios:hover .pin_lunes{
    display: block;
  }

  /* COLOR LOGOS #E2700B*/
  /* ESHOP SECTION */
  .container_esh{
    width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #FFF;
  }
  .content-info{
    width: 85%;
    height: 100%;
  }
  .content-info .opcion-text{
    width: 100%;
    height: 100px;
    /* background-color: grey; */
    display: flex;
  }
  
  .content-info .opcion-text h1{
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    color: #000;
    cursor: pointer;
    font-family: "Open-sans", sans-serif;
  }
  
  .content-info .opcion-text h1:nth-child(1){
    border-bottom: 3px solid #E2700B;
  }
  
  .content-info .text{
    width: 100%;
    height: 300px;
    background: #fff;
    position: relative;
  }
  
  .content-info .text op-text{
    position: absolute;
    padding: 20px;
  }
  
  .content-info .text op-text h1{
    text-align: center;
    color: #0f0f0f;
  }
  
  .content-info .text op-text p{
    margin-top: 20px;
    color: #777777;
    letter-spacing: 2px;
  }
  
  .content-info .text .op-text:nth-child(2){
    display: none;
  }


  /* TUKI */
    .eshop_section{
    text-align: center;
    background-color: white;
  }
  .eshop_section h1{
    color: #E2700B;
    font-size: 38px;
    margin-top: 80px;
    font-family: "Open Sans", sans-serif;
  }
  .img_bag{
    text-align: center;
    margin-top: -25px;
  }

  .borde_bag{
    border-color: #E2700B;
    border-radius: 50%;
  }
  .img_bag img{
    height: 180px;
    width: 180px;

  }

  .banner_auto{
    background-color: rgb(255, 136, 0);
    height: 30px;
    width: 100%;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
  }
  .p0_banner{
    font-family: "Open sans", sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    display: inline-block;
    -webkit-animation: scrolling-left1 20s linear infinite;
    animation: scrolling-left1 20s linear infinite;
    padding-top: 0px;
    margin-top: 0px;
  }

  .p1_banner{
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    display: inline-block;
    -webkit-animation: scrolling-left2 20s linear infinite;
    animation: scrolling-left2 20s linear infinite;
    animation-delay: 10s;
    padding-top: 0px;
    margin-top: 0px;
  }

  @keyframes scrolling-left1 {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
    100% {transform: translateX(-100%);
        -webkit-transform: translateX(-100%);}
}

@keyframes scrolling-left2 {
  0% {transform: translateX(0%);
      -webkit-transform: translateX(0%);}
    100% {transform: translateX(-200%);
        -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-left1 {
  0% {-webkit-transform: translateX(100%);}
    100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-left2 {
  0% {-webkit-transform: translateX(0%);}
    100% {-webkit-transform: translateX(-200%);}
}

  /* DOUBLE SECTION */
  .container_double_section{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  /* E SHOP */
  .nav_tienda ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 5% 22% 5% 22%;
    font-size: 25px;
  }

  .nav_tienda ul li{
    cursor: pointer;
  }
  .nav_tienda ul li:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .nav_tienda li:not(:last-child) {
    margin-right: 20px;
  }

  .nav_tienda a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 7px 15px;
  }
  .target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
  }
  .nav_tienda a,
  .target {
    transition: all .35s ease-in-out;
  }

  .aclaracion_kg{
    text-align: center;
    font-size: 20x;
    text-shadow: #000;
    font-style: italic;
    font-family: "Merriweather";
    padding-bottom: 5px;
    
  }
  /* GRANEL SECTION */
  .granel_section{
    height: 1700px;
    width: 100vh;
    margin: auto;
    padding-top: 60px;

  } 
  /* .granel_section p{
    text-align: left;
    margin-left: 32px;
  } */

  /* ACCORDION */
  /*.accordion_granel{
     margin: 0 30% 0 30%; 
  }*/
  details{
    background-color: aliceblue;
    padding: .5rem;
    border-radius: 6px;
    margin: .5rem;
    cursor: pointer;
    font-family: "Merriweather";
    font-weight: bold;
    position: relative;
    box-shadow: 0 5px 6px rgba(0,0,0,0.2);
  }
  details:hover{
    background-color: #FFF;
  }
  details[open]{
    background-color: #FFF;
  }
  /* TITULO */
  summary{
    list-style: none;
    font-size: 18px;
    color: #000;
  }
  summary::before{
    content: '+';
    padding-right: 2rem;
    font-size: 1.5em;
    font-family: "Merriweather";
    color: #E2700B;
    font-weight: bold;
  }
  details[open] summary::before{
    content: '-';
    font-size: 1.5em;
    font-family: "Merriweather";
    color: #E2700B;
    font-weight: bold;
  }
  /* ADD MINUS BUTTON */
  .accordion_header{
    margin-top: 10px;
  }
  .accordion_parrafo{
    padding-left: 50px;
    text-align: left;
    font-size: 15px;
    display: flex;
    align-items: space-between;
    color: rgb(44, 43, 43);
  }
  .wrapper{
    height: 22px;
    min-width: 30px;
    width: 100px;
    background-color: #FFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin-left: 100px;
  }
  .accordion_parrafo p{
    margin-left: 20px;
    padding: 0px;
    margin-top: 0px;
  }
  .wrapper span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .wrapper span.num{
    font-size: 15px;
    border-right: 2px solid rgba(0,0,0,0.2);
    border-left: 2px solid rgba(0,0,0,0.2);
  }

  /* END BUTTON */
  .finish_button{
    text-align: center;
    position: relative;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .finish_button button{
    background-color: #E2700B;
    color: #FFF;
    height: 50px;
    width: 180px;
    border-radius: 20px;
    border-color: #E2700B;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
    box-shadow: black;
    position: relative;
    margin: 0;
    padding: 0;
  }

  .finish_button button:hover{
    background-image: linear-gradient(#ffc18f, #ff841f);
    color: #FFF;
    border-color: #ff841f;
    transition: 15s;
  }


  /* ----------FOOTER----------*/
  .container_footer{
    background-color: #000;
    height: 200px;
  }
  
  /* .container_footer span{
    position: relative;
    z-index: 1;
    color: white;
  } */

  .huella{
    color: #FFF;
    text-transform: uppercase;
    font-family: "Bahnschrift";
    font-weight: 400;
    letter-spacing: 8px;
    font-size: 1.3em;
    text-align: left;
    margin-left: 4%;
  }
  
  .sagrada{
    color: #FFF;
    text-transform: uppercase;
    font-family: "Bahnschrift";
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 8px;
    text-align: left;
    margin-left: 6%;
    margin-top: -15px;
  }

  .linea{
    margin: 1% 84.5% 0 30px;
  }

  .alimentos{
    color: #FFF;
    font-family: "Open-sans", sans-serif;
    position: absolute;
    font-weight: 400;
    letter-spacing: 6px;
    margin-left: 10px;
    font-size: 1.2em;
    
  }

  .container_footer img{
    height: 50px;
    width: 50px;
    margin: -7% 0 0 1.5%;
    padding: 0;
    position: absolute;
  }

  .datos_footer{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-top: -6.5%;
  }

  .numero p{
    color: #FFF;
    font-family: "Open-sans", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
  }
  .mail p{
    color: #FFF;
    font-family: "Open-sans", sans-serif;
    letter-spacing: 1px;
  }
  .ubicacion{
    color: #FFF;
    font-family: "Open-sans", sans-serif;
    letter-spacing: 1px;
  }

  .redes_footer{
    display: flex;
    flex-direction: column;
    margin-top: -8.5%;
    margin-left: 75%;
  }

  .redes_footer_p{
    color: #FFF;
    font-family: "Open-sans", sans-serif;
  }

  .redes_in_p{
    color: #FFF;
    font-family: "Open-sans", sans-serif;
  }

@media screen and (max-width: 830px) {
	.navbar1 .navbar1_menu{
    position: fixed;
    top: -20px;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 4000px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 9999 !important;
  }
  .navbar1 .navbar1_menu.active{
    left: 0%;
  }
  .navbar1 .navbar1_menu li{
    margin-top: 45px;
  }
  .navbar1 .navbar1_menu li a{
    font-size: 23px;
    font-weight: 800;
  }
  .icon1{
    display: block;
  }
  .icon1.hide{
    display: none;
  }
}






















/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: rgb(255, 123, 0);
    height: 100px;
    z-index: 3;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF; /* hamburguer color
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000000;
}

.nav-link:hover{
    color: grey;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 20%;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
} */


